/* BASE ITEMS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
em, img, q, strong, sub, var,
b, i, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline: none;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul,ul,ol {
    list-style:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
	outline: none;
    vertical-align:baseline;
    background:transparent;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

input, select {
    vertical-align:middle;
}

input:focus, textarea:focus
{
    outline: none;
}

.clear
{
    clear: both;
}
.left
{
    float: left;
}
.right
{
    float: right;
}
.center-relative
{
    margin-left: auto;
    margin-right: auto;
}
.center-text
{
    text-align: center !important;
}
.relative
{
    position: relative;
}
.italic {
    font-style: italic;
}
a.button
{
    display: inline-block;
    border: 3px solid;
    text-align: center;
    padding: 15px 40px;
    cursor: pointer;
    margin-bottom: 25px;
    vertical-align: middle;
    text-decoration: none;
}
a.button:active
{
    position: relative;
    top: 1px;	
}
h1,h2,h3,h4,h5,h6
{
    padding: 20px 0;
}
h1
{
    font-size: 38px;
    line-height: 38px;    
}
h2
{
    font-size: 34px;    
    line-height: 34px;    
}
h3
{
    font-size: 32px;  
    line-height: 32px;    
}

/* MOBILE FIRST */
html
{
    height: 100%;
}

body
{
    font-family: 'Montserrat', sans-serif, Arial;
    font-size: 20px; 	
    line-height: 35px;
    font-weight: 400;	
    color: #f6f6fc;
    /* height: 100%; */
    background-color: #2b3344;
}

body a
{
    text-decoration: none;
    color: #f6f6fc;
}

body a:hover
{
    color: #e2e2e2;
}

input, textarea, select 
{
    -webkit-appearance: none;
}

.doc-loader 
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;	
    background-color: white;
}

.doc-loader td 
{       
    text-align: center;
    vertical-align: middle;
}

.doc-loader img
{
    width: 120px;
    height: 120px;        
}

.rubberplant
{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: #1fafa8;
}

.header-holder
{
    top: 60px;    
    position: absolute;
    z-index:10;
    right: 0;
}

.header-logo
{
    padding-top: 12%;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    z-index: 1;

}

ul.sub-menu
{
    max-width: 100% !important;
    width: 100% !important;
    min-width: 0 !important;
}

.sub-menu li
{
    display: block;
}

.content-1170
{
    max-width: 1170px;
}

.content-1030
{
    max-width: 1030px;
}

.content-770
{
    max-width: 770px;
}

.content-1170 img, .content-770 img, .content-1030 img
{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.toggle-holder
{
    width: 32px;
    height: 27px;
    margin-right: 60px;
}

#toggle
{
    width: 32px;
    height: 27px;
    display: inline-block;
    position: absolute;
    z-index: 99;
}

#toggle:hover
{
    cursor: pointer;
}

#toggle div, #toggle
{
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#toggle .first-menu-line
{
    width: 28px;
    height: 6px;
    margin-bottom: 6px;
    background-color: #ffffff;
    margin-left: 4px;
}

#toggle .second-menu-line
{
    width: 22px;
    height: 4px;
    margin-bottom: 6px;
    background-color: #ffffff;
    margin-left: 10px;
}

#toggle .third-menu-line
{
    width: 32px;
    height: 5px;
    background-color: #ffffff;
}

#toggle.on .first-menu-line
{    
    margin-left: 0;
}

#toggle.on .second-menu-line
{
    margin-left: 0;
}

/* FOOTER */

.footer
{
    margin-top: 110px;
    padding-bottom: 70px;
    clear: both;
    color: #ffffff;
    justify-content: center;
    background-color: #1c375f;
}

.footer-el {
	margin: 10px;
}

.footer a
{
    color: #ffffff;
}

.footer a:hover
{
    color: #1fafa8;
    /* color: #3985f7; */
}

/* Nav menu */
  input.checkbox-menu[type="checkbox"] {
    display: none;
    -webkit-appearance: none;
  }
  
  input.checkbox-menu[type="checkbox"]:checked ~ div.menu-block {
    opacity: 1;
    visibility: visible;
  }
  
  .nav-icon {
    /* display: inline-block; */
    /* font-size: 1.5em; */
    padding: 0.25em;
    /* vertical-align: bottom; */
  }
  
  .menu-block {
    display: inline-block;
    opacity: 0;
    vertical-align: bottom;
    visibility: hidden;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
  }
  
  ul.navUL {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul.navUL li {
    display: inline-block;
    padding: 0px 0px;
  }
  
  ul.navUL li a {
    color: #999999;
    display: block;
    padding: 3px;
    text-decoration: none;
  }
  
  ul.navUL li a:hover {
    color: #1fafa8;
    text-decoration: none;
  }

/* BLOG */

.blog-top-content-holder canvas
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.blog-top-content-holder h1.entry-title
{
    font-size: 56px;
    line-height: 60px;   
    margin-bottom: 40px;    
}

.blog-top-content-holder p.site-description
{
    font-size: 26px;
    line-height: 35px;
    max-width: 870px;
    margin: 0 auto;   
}

.blog-top-content
{
    padding-bottom: 100px;
    z-index: 1;
}

.blog-top-content, .blog-top-content a
{
    color: #ffffff;
}

.blog-item-holder, .blog-item-holder a
{
    color: #ffffff;
}

.blog-item-holder a:hover
{
    color: #1fafa8;
}

.blog-item-holder .entry-content:before
{
    width: 100%;
    /* height: 100%; */
    /* opacity: 0.38; */
    /* line-height: 0; */
    /* font-size: 0;    */
    position: absolute;
}

.blog-item-holder .entry-content .content-1170
{
    padding-top: 17%;
    padding-bottom: 200px;
    position: relative;
}
