/* RESPONSIVE PART */

/* @media screen and (max-width: 1450px) {    

    .header-logo
    {
        padding-top: 20%;
    }

    .blog-item-holder .entry-content .content-1170
    {
        padding-bottom: 100px;
        padding-top: 100px;
    }
} */

@media screen and (max-width: 1340px) {    

    blockquote.inline-blockquote
    {
        display: block;
        margin: 50px 0;
        width: auto;
    }

    .blog-top-content
    {
        padding-bottom: 150px;
    }
}

@media screen and (max-width: 1220px) {    

    .content-1030, .content-1170, .content-770
    {
        max-width: 90%;
    }

    .page-template-default article .content-1170 .content-1030
    {
        max-width: 100%;
    }
}

@media screen and (max-width: 1020px) {    

    .footer ul li 
    {
        display: block;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    } 
}

@media screen and (max-width: 925px) {    

    .main-menu
    {
        float: none;
        margin: 0 auto;
        text-align: center;
        max-width: 300px;
        width: 100%;
        position: relative;
        z-index: 9999;
    }

    .main-menu ul 
    {
        width: 12em;
    }

    .sm-clean a, .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active
    {
        padding-right: 0;
        padding-left: 0;
    }

    .main-menu.sm-clean
    {
        padding-bottom: 40px;
    }

    .blog-top-content
    {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .header-logo
    {
        padding-top: 190px;
    }

    .blog-top-content-holder h1.entry-title 
    {
        font-size: 36px;
        line-height: 42px;        
    }

    .blog-top-content-holder p.site-description 
    {
        font-size: 20px;
        line-height: 30px;
    }

    .blog-item-holder .entry-content .entry-title 
    {
        font-size: 38px;
        line-height: 45px;
        margin-left: auto;
        margin-right: auto;
    }

    .blog-item-holder .entry-content .content-1170
    {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .blog-item-holder .blog-item-holder
    {
        margin-top: 50px;
    }    

    .blog-item-holder .blog-item-holder .entry-content
    {
        display: none;
    }

    ul#footer-sidebar li.widget 
    {
        display: block;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 650px) {  

    .header-holder
    {
        top: 40px;        
    }

    .main-menu.sm-clean
    {
        padding-top: 120px;
    }

    .header-logo 
    {
        padding-top: 120px;
    }

    .blog-top-content-holder h1.entry-title 
    {
        font-size: 31px;
        line-height: 33px;
    }
}